services:
  - type: web
    name: flightbot
    env: node
    buildCommand: yarn install --immutable && yarn build
    startCommand: yarn start
    plan: free
    branch: main
    envVars:
      - key: NODE_ENV
        value: production
      - key: SLACK_BOT_TOKEN
        sync: false
      - key: SLACK_SIGNING_SECRET
        sync: false
      - key: SLACK_APP_TOKEN
        sync: false
      - key: FLIGHTAWARE_API_KEY
        sync: false
      - key: SENTRY_DSN
        sync: false
      - key: PORT
        value: 10000
      - key: RENDER_EXTERNAL_URL
        fromService:
          type: web
          name: flightbot
          property: hostUrl
